<tr class="d-flex">
  <td class="col-2"><%= user.name %></td>
  <td class="col-2"><%= user.email %></td>
  <td class="col-2"><%= user.address %></td>
  <td class="col-2"><%= user.phone %></td>
  <td class="col-2 text-center"><%= user.created_at.strftime("%d-%m-%Y") %></td>
  <td class="col-1 text-center"></td>
</tr>
